@media screen and (max-width:1000px){
    
    .songitems{
        width: 90%;
        height: 10%;
    }
    .songlist{
        width: 90%;
        
    }
    .container{
        width: 95%;
    }
    .icons{
        width: 40vw;
    }
    .songinfo img{
        width: 20px;
    }
    .fa-solid{
        margin: 10px;
    }
    .mainswing{
        height: 70vh;
        width: 92vw;
        top: 15%;
    }
    .mainswing img{
        height: 70vh;
        width: 92vw;
    }
    .footer2{
        color: white;
        margin: 5px 0px;
    }

}
